@using PokemonRoster.Client;
@model IEnumerable<UserPokemon>

<style>
    .nametagcolor {
        color : yellow;
    }
    

    
</style>



  @foreach (var x in Model)
{
    <div class="card-container d-inline-flex p-2 m-2">

       <div class="card rcard">

            <div class="card-header m-3 p-2 nametagcolor">
                <h4> @char.ToUpper(@x.name[0])@x.name.Substring(1)</h4>
            </div>
            <div class=" card-body nametagcolor bg-type-@x.backgroundcolorbytype ">
                 <img src="@x.sprite" />
                <p>@x.id</p>
            </div>        
            <div class="card-footer">                    
                    <p>@x.abilities[0]</p> 
                    <p>Effective against @x.strengths[0]</p>
                    <p>Weak against @x.weaknesses[0]</p>
                <div>
                    <form asp-controller="Poke" asp-action="AddToRoster">
                        <button class=" btn btn-success btn-outline-danger" name="pokemonName" value="@x.name" type="submit" > Add To Roster</button>
                    </form>
                </div>
                <div>
                    <form asp-controller="Poke" asp-action="Info">
                        <button class=" btn btn-info btn-outline-warning mt-3" name="pokemonName" value="@x.name" type="submit"> Check     Info</button>
                    </form>
                </div>
                
            </div>
       
       </div>
</div>
    }